# Programming in python

## Topics
* Variables
* Numbers
* Booleans
* Objects
* Strings
* Tuples, lists and dictionaries
* Flow control, part 1
 * If
 * For
   * range() function

<hr>

### Variables

In a nutshell, a variable is a memory location where you can store a value. This value may or may not change in the future. In Python, to declare a variable, you just have to assign a variable to it.

In [1]:
x = 1

Notice that in a Jupyter notebook, assigning something to a variable does NOT print it out when you run the cell. To see the value of a variable, you can either use the print statement:

In [2]:
print(x)

1

Or you can just put the variable itself inline, and Jupyter will automatically print out the variable value for you, without using print.

In [3]:
x

1

Note that it will only print out the LAST variable in the cell, even if you put more than one variable

In [4]:
x
x

1

### Numbers

Numbers are a set of data types that mainly have numerical values. We have 3 different data types to represent numbers â€” `integer`, `float`, and `complex`. We won't talk about complex numbers today but you can read about them later if you're interested!

In [5]:
x = 1
type(x)

int

In [6]:
x = 1.29
type(x)

float

#### Number operations

As you saw in the previous breakout, Python typically respects the standard order of operations (PEMDAS):

1. P - Parentheses
1. E - Exponentiation
1. M/D - Multiplication/division
1. A/S - Addition/subtraction

In Python, there are additional operators such as the bitwise operators we saw before. The full table looks something like this:
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/python-operator-precedence.jpg"/>

In [7]:
a = (10 + 12 * 3 % 34 / 8)
b = (4 ^ 2 << 3 + 48 // 24)


print(a)
print(b)

10.25
68

### Booleans

Booleans represent one of two values: True or False. In Python, these are the literals `True` and `False`

In [8]:
a = True
type(a)

bool

You might have noticed the boolean operators and comparisons in the above table for order of operations. The results of these operations are booleans.

In [9]:
x = 1
y = 2
num = x < y
print(num)
type(num)

True

bool

**Note**: Comparison vs Identity Operators

The following are comparison operators: `==`, `!=`, `<`, etc.

The following are identity operators: `is`, `is not`

Comparison and identity operators are not quite the same thing!

In [10]:
a = 35454
b = 35454

In [11]:
a is b

False

In [12]:
a == b

True

### Objects

Past this point, all of the data types we are going to talk about are actually "objects". Some programming languages are called "object-oriented" (like Python). This means that things (variables, entities, etc) within your code are actually a tiny package of both data and functionality. Think of objects like a radio: a radio has data (ie what station it is tuned to) as well as functionality associated with it (ie turn the radio on/off, change the station). When you have a variable that is an object, you can access the functionality of that variable using the `.` notation, ie `var.function()`. We saw this in the previous breakout when we accessed things on the `math` module - modules are actually objects too!

Numbers and booleans are more primitive - they are data only, no associated functions.

### Strings

In programming, a string is a data type that is written in single `''` or double `""` quotes. It can contain numbers and special characters but they will be evaluated as actual letters rather than the numerical values.

Strings are **not mutable** - they cannot be changed after they have been created.

In [13]:
my_string = "This is a double-quoted string."
my_string = 'This is a single-quoted string.'
my_string

'This is a single-quoted string.'

In [14]:
type(my_string)

str

In [15]:
quote = "Linus Torvalds once said, 'Any program is only as good as it is useful.'"
quote

"Linus Torvalds once said, 'Any program is only as good as it is useful.'"

#### String operators / functions

All string methods can be found here: https://docs.python.org/3.10/library/stdtypes.html#string-methods

Or you can use tab completion like we learned in the last breakout to explore what you can do with strings.

For example, how could we convert a string to "title case" ie the first letter of each word is capitablized?

In [16]:
book_title = 'the great gatsby'
book_title.title()

'The Great Gatsby'

A common NLP application is to parse sentences and break the sentences down into words (aka Tokenization)

In [17]:
sentence = 'this is a sentence that I want to break down!'
sentence.split()

['this', 'is', 'a', 'sentence', 'that', 'I', 'want', 'to', 'break', 'down!']

Notice what happened (or didn't!) to the original string after splitting:

In [18]:
sentence

'this is a sentence that I want to break down!'

We often want to do this for CSV (comma-separated value) data files, where columns are separated by commas. In this case, we can also specify what delimiter we want to split the string on:

In [19]:
csv_string = '1,2,3,4,name,age,value,location'
csv_string.split(',')

['1', '2', '3', '4', 'name', 'age', 'value', 'location']

Python also has a built-in way to get the length of a string:

In [20]:
len(csv_string)

31

Lastly, you can add strings together with the plus operator. We call this "concatenation", and it results in the combination of the two strings together.

In [21]:
'hello' + ' DATA 515!'

'hello DATA 515!'

#### String indexing

What if we want to access certain characters in a string?

In [22]:
a_string = 'This is a string'
a_string[0] #output the 0th index (1st character) in the string from the left side

'T'

In [23]:
a_string[4]

' '

Recall that Python indexes start at 0.  So the first character in a string is 0 and the last is string length - 1.  You can also address from the `end` to the `front` by using negative (`-`) indexes, e.g.

In [24]:
a_string[-1] #output the last character in the string

'g'

### Tuples

Let's begin by creating a tuple called `my_tuple` that contains three elements.

In [25]:
my_tuple = ('I', 'like', 'cake')
my_tuple

('I', 'like', 'cake')

Tuples are simple containers for data.  They are ordered, meaining the order the elements are in when the tuple is created are preserved.  We can get values from our tuple by using array indexing, similar to what we were doing with pandas.

In [26]:
my_tuple[0]

'I'

In [27]:
my_tuple[-1]

'cake'

You can also access a range of elements, e.g. the first two, the first three, by using the `:` to expand a range.  This is called ``slicing``.

In [28]:
my_tuple[0:2]

('I', 'like')

In [29]:
my_tuple[0:3]

('I', 'like', 'cake')

What do you notice about how the upper bound is referenced?

*Answer: the upper bound is EXCLUSIVE - it is not included in the slice.*

Without either end, the ``:`` expands to the entire list.

In [30]:
my_tuple[1:]

('like', 'cake')

In [31]:
my_tuple[:-1]

('I', 'like')

In [32]:
my_tuple[:]

('I', 'like', 'cake')

Tuples have a key feature that distinguishes them from other types of object containers in Python.  They are _immutable_.  This means that once the values are set, they cannot change.

In [33]:
my_tuple[2]

'cake'

So what happens if I decide that I really prefer pie over cake?

In [34]:
#my_tuple[2] = 'pie'

Facts about tuples:
* You can't add elements to a tuple. Tuples have no append or extend method.
* You can't remove elements from a tuple. Tuples have no remove or pop method.
* You can also use the in operator to check if an element exists in the tuple.

So then, what are the use cases of tuples?  
* Speed
* `Write-protects` data that other pieces of code should not alter

You can alter the value of a tuple variable, e.g. change the tuple it holds, but you can't modify it.

In [35]:
my_tuple

('I', 'like', 'cake')

In [36]:
my_tuple = ('I', 'love', 'pie')
my_tuple

('I', 'love', 'pie')

There is a really handy operator ``in`` that can be used with tuples that will return `True` if an element is present in a tuple and `False` otherwise.

In [37]:
'love' in my_tuple

True

Finally, tuples can contain different types of data, not just strings.

In [38]:
import math
my_second_tuple = (42, 'Elephants', 'ate', math.pi)
my_second_tuple

(42, 'Elephants', 'ate', 3.141592653589793)

Numerical operators work... Sort of.  What happens when you add? 

``my_second_tuple + 'plus'``

In [39]:
#my_second_tuple + 'plus'

Not what you expects?  What about adding two tuples?

In [40]:
my_second_tuple + my_tuple

(42, 'Elephants', 'ate', 3.141592653589793, 'I', 'love', 'pie')

Other operators: -, /, *

In [41]:
my_tuple * 2

('I', 'love', 'pie', 'I', 'love', 'pie')

### Questions about tuples before we move on?

<hr>

### Lists

Let's begin by creating a list called `my_list` that contains three elements.

In [42]:
my_list = ['I', 'like', 'cake']
my_list

['I', 'like', 'cake']

At first glance, tuples and lists look pretty similar.  Notice the lists use '[' and ']' instead of '(' and ')'.  But indexing and refering to the first entry as 0 and the last as -1 still works the same.

In [43]:
my_list[0]

'I'

In [44]:
my_list[-1]

'cake'

In [45]:
my_list[0:3]

['I', 'like', 'cake']

Lists, however, unlike tuples, are mutable.

In [46]:
my_list[2] = 'pie'
my_list

['I', 'like', 'pie']

Multiple elements in the list can even be changed at once!

In [47]:
my_list[1:] = ['love', 'puppies']
my_list

['I', 'love', 'puppies']

You can still use the `in` operator.

In [48]:
'puppies' in my_list

True

In [49]:
'kittens' in my_list

False

So when to use a tuple and when to use a list?

* Use a list when you will modify it after it is created?

Ways to modify a list?  You have already seen by index.  Let's start with an empty list.

In [50]:
my_new_list = []
my_new_list

[]

We can add to the list using the append method on it.

In [51]:
my_new_list.append('Now')
my_new_list

['Now']

We can use the `+` operator to create a longer list by adding the contents of two lists together.

In [52]:
my_new_list + my_list

['Now', 'I', 'love', 'puppies']

One of the useful things to know about a list how many elements are in it.  This can be found with the `len` function.

In [53]:
len(my_list)

3

Some other handy functions with lists:
* max
* min

In [54]:
max(my_list)

'puppies'

In [55]:
min(my_list)

'I'

Sometimes you have a tuple and you need to make it a list.  You can `cast` the tuple to a list with ``list(my_tuple)``

In [56]:
list(my_tuple)

['I', 'love', 'pie']

What in the above told us it was a list?  

You can also use the ``type`` function to figure out the type.

In [59]:
type(my_tuple)

tuple

In [58]:
type(list(my_tuple))

list

There are other useful methods on lists, including:

| methods  |  description  |
|---|---|
| list.append(obj)  | Appends object obj to list  |
| list.count(obj)| Returns count of how many times obj occurs in list  |
| list.extend(seq)  | Appends the contents of seq to list  |
| list.index(obj)  | Returns the lowest index in list that obj appears  |
| list.insert(index, obj)  | Inserts object obj into list at offset index  |
| list.pop(obj=list[-1])  | Removes and returns last object or obj from list  |
| list.remove(obj)  | Removes object obj from list  |
| list.reverse()  |  Reverses objects of list in place |
| list.sort([func])  | Sort objects of list, use compare func, if given  |

Try some of them now.

```
my_list.count('I')
my_list

my_list.append('I')
my_list

my_list.count('I')
my_list

#my_list.index(42)

my_list.index('puppies')
my_list

my_list.insert(my_list.index('puppies'), 'furry')
my_list

my_list.pop()
my_list

my_list.remove('puppies')
my_list

my_list.append('cabbages')
my_list
```

In [60]:
my_list.count('I')

1

In [61]:
my_list.append('I')
my_list

['I', 'love', 'puppies', 'I']

In [62]:
my_list.count('I')

2

In [63]:
#my_list.index(42)

In [64]:
my_list.index('puppies')

2

In [65]:
my_list.insert(my_list.index('puppies'), 'furry')
my_list

['I', 'love', 'furry', 'puppies', 'I']

In [66]:
my_list.pop()
my_list

['I', 'love', 'furry', 'puppies']

In [67]:
my_list.remove('puppies')
my_list

['I', 'love', 'furry']

In [68]:
my_list.append('cabbages')
my_list

['I', 'love', 'furry', 'cabbages']

### Any questions about lists before we move on?

<hr>

### Dictionaries

Dictionaries are similar to tuples and lists in that they hold a collection of objects.  Dictionaries, however, allow an additional indexing mode: keys.  Think of a real dictionary where the elements in it are the definitions of the words and the keys to retrieve the entries are the words themselves.

| word | definition |
|------|------------|
| tuple | An immutable collection of ordered objects |
| list | A mutable collection of ordered objects |
| dictionary | A mutable collection of named objects |

Let's create this data structure now.  Dictionaries, like tuples and elements use a unique referencing method, '{' and its evil twin '}'.

In [69]:
my_dict = { 'tuple' : 'An immutable collection of ordered objects',
            'list' : 'A mutable collection of ordered objects',
            'dictionary' : 'A mutable collection of objects' }
my_dict

{'tuple': 'An immutable collection of ordered objects',
 'list': 'A mutable collection of ordered objects',
 'dictionary': 'A mutable collection of objects'}

We access items in the dictionary by name, e.g.

In [70]:
my_dict['dictionary']

'A mutable collection of objects'

Since the dictionary is mutable, you can change the entries.

In [71]:
my_dict['dictionary'] = 'A mutable collection of named objects'
my_dict

{'tuple': 'An immutable collection of ordered objects',
 'list': 'A mutable collection of ordered objects',
 'dictionary': 'A mutable collection of named objects'}

#### As of Python 3.7 the ordering is guaranteed to be insertion order but that does not mean alphabetical or otherwise sorted.

And we can add new items to the list.

In [72]:
my_dict['cabbage'] = 'Green leafy plant in the Brassica family'
my_dict

{'tuple': 'An immutable collection of ordered objects',
 'list': 'A mutable collection of ordered objects',
 'dictionary': 'A mutable collection of named objects',
 'cabbage': 'Green leafy plant in the Brassica family'}

To delete an entry, we can't just set it to ``None``

In [73]:
my_dict['cabbage'] = None
my_dict

{'tuple': 'An immutable collection of ordered objects',
 'list': 'A mutable collection of ordered objects',
 'dictionary': 'A mutable collection of named objects',
 'cabbage': None}

To delete it propery, we need to pop that specific entry.

In [74]:
my_dict.pop('cabbage', None)
my_dict

{'tuple': 'An immutable collection of ordered objects',
 'list': 'A mutable collection of ordered objects',
 'dictionary': 'A mutable collection of named objects'}

**Tangent:** we've also just discovered a new type in Python: `None`:

In [75]:
notHere = None
type(notHere)

NoneType

As we can see, `None` has a special type just for itself. However, there's another unexpected characteristic of `None`.

In [76]:
alsoNotHere = None
print(notHere is notHere)

True

When you say `None`, we are actually referring to what is called a *singleton*. Because `None` is only ever just `None`, Python only ever creates ONE of these objects. Every `None` is the same `None` in memory, so you can do `is` on two variables that store `None`. Of course, you can also use `==` if you like, but the typical Pythonic way that we test whether something is `None` is with the `is` operator.

In [77]:
notHere is None

True

**Back to dictionaries!** You can use other objects as names, but that is a topic for another time.  You can mix and match key types, e.g.

In [78]:
my_new_dict = {}
my_new_dict[1] = 'One'
my_new_dict['42'] = 42
my_new_dict

{1: 'One', '42': 42}

You can get a list of keys in the dictionary by using the ``keys`` method.

In [79]:
my_dict.keys()

dict_keys(['tuple', 'list', 'dictionary'])

Similarly the contents of the dictionary with the ``items`` method.

In [80]:
my_dict.items()

dict_items([('tuple', 'An immutable collection of ordered objects'), ('list', 'A mutable collection of ordered objects'), ('dictionary', 'A mutable collection of named objects')])

We can use the keys list for fun stuff, e.g. with the ``in`` operator.

In [81]:
'dictionary' in my_dict.keys()

True

This is a synonym for `in my_dict`

In [82]:
'dictionary' in my_dict

True

Notice, it doesn't work for elements.

In [83]:
'A mutable collection of ordered objects' in my_dict

False

Other dictionary methods:

| methods  |  description  |
|---|---|
| dict.clear() | Removes all elements from dict |
| dict.get(key, default=None) | For ``key`` key, returns value or ``default`` if key doesn't exist in dict | 
| dict.items() | Returns a list of dicts (key, value) tuple pairs | 
| dict.keys() | Returns a list of dictionary keys |
| dict.setdefault(key, default=None) | Similar to get, but set the value of key if it doesn't exist in dict |
| dict.update(dict2) | Add the key / value pairs in dict2 to dict |
| dict.values | Returns a list of dictionary values|

Feel free to experiment...

<hr>

## Flow control

<img src="https://docs.oracle.com/cd/B19306_01/appdev.102/b14261/lnpls008.gif">Flow control figure</img>

Flow control refers how to programs do loops, conditional execution, and order of functional operations.  Let's start with conditionals, or the venerable ``if`` statement.

Let's start with a simple list of instructors for these classes.

In [84]:
instructors = ['Melissa', 'Baisakhi', 'Murf the Clown']
instructors

['Melissa', 'Baisakhi', 'Murf the Clown']

### If
If statements can be use to execute some lines or block of code if a particular condition is satisfied.  E.g. Let's print something based on the entries in the list.

In [85]:
if 'Murf the Clown' in instructors:
    print('#fakeinstructor')

#fakeinstructor

**Note that the indentation is really important!**

Usually we want conditional logic on both sides of a binary condition, e.g. some action when ``True`` and some when ``False``

In [86]:
if 'Murf the Clown' in instructors:
    print('There are fake names for class instructors in your list!')
else:
    print("Nothing to see here")

There are fake names for class instructors in your list!

There is a special do nothing word: `pass` that skips over some arm of a conditional, e.g.

In [87]:
if 'Baisakhi' in instructors:
    print("Congratulations!  Baisakhi is teaching, your class won't stink!")
else:
    pass

Congratulations!  Baisakhi is teaching, your class won't stink!

_Note_: what have you noticed in this session about quotes?  What is the difference between ``'`` and ``"``?


Another simple example:

In [88]:
if True is False:
    print("I'm so confused")
else:
    print("Everything is right with the world")

Everything is right with the world

It is always good practice to handle all cases explicity.  `Conditional fall through` is a common source of bugs.

Sometimes we wish to test multiple conditions.  Use `if`, `elif`, and `else`.

In [89]:
my_favorite = 'pie'

if my_favorite == 'cake':
    print("He likes cake!  I'll start making a double chocolate velvet cake right now!")
elif my_favorite == 'pie':
    print("He likes pie!  I'll start making a cherry pie right now!")
else:
    print("He likes " + my_favorite + ".  I don't know how to make that.")

He likes pie!  I'll start making a cherry pie right now!

Conditionals can take ``and`` and ``or`` and ``not``.  E.g.

In [90]:
my_favorite = 'pie'

if my_favorite == 'cake' or my_favorite == 'pie':
    print(my_favorite + " : I have a recipe for that!")
else:
    print("Ew!  Who eats that?")

pie : I have a recipe for that!

## For

For loops are the standard loop, though `while` is also common.  For has the general form:
```
for items in list:
    do stuff
```

For loops and collections like tuples, lists and dictionaries are natural friends.

In [91]:
for instructor in instructors:
    print(instructor)

Melissa
Baisakhi
Murf the Clown

You can combine loops and conditionals:

In [92]:
for instructor in instructors:
    if instructor.endswith('Clown'):
        print(instructor + " doesn't sound like a real instructor name!")
    else:
        print(instructor + " is so smart... all those gooey brains!")

Melissa is so smart... all those gooey brains!
Baisakhi is so smart... all those gooey brains!
Murf the Clown doesn't sound like a real instructor name!

Dictionaries can use the `keys` method for iterating.

In [93]:
for key in my_dict.keys():
    if len(key) > 5:
        print(my_dict[key])

A mutable collection of named objects

### range()

Since for operates over lists, it is common to want to do something like:
```
NOTE: C-like
for (i = 0; i < 3; ++i) {
    print(i);
}
```

The Python equivalent is:

```
for i in [0, 1, 2]:
    do something with i
```

What happens when the range you want to sample is big, e.g.
```
NOTE: C-like
for (i = 0; i < 1000000000; ++i) {
    print(i);
}
```

That would be a real pain in the rear to have to write out the entire list from 1 to 1000000000.

Enter, the `range()` function.  E.g.
 ```range(3) is [0, 1, 2]```

In [94]:
range(3)

range(0, 3)

Notice that Python (in the newest versions, e.g. 3+) has an object type that is a range.  This saves memory and speeds up calculations vs. an explicit representation of a range as a list - but it can be automagically converted to a list on the fly by Python.  To show the contents as a `list` we can use the type case like with the tuple above.

Sometimes, in older Python docs, you will see `xrange`.  This used the range object back in Python 2 and `range` returned an actual list.  Beware of this!

In [95]:
list(range(3))

[0, 1, 2]

Remember earlier with slicing, the syntax `:3` meant `[0, 1, 2]`?  Well, the same upper bound philosophy applies here.

In [96]:
for index in range(3):
    instructor = instructors[index]
    if instructor.endswith('Clown'):
        print(instructor + " doesn't sound like a real instructor name!")
    else:
        print(instructor + " is so smart... all those gooey brains!")

Melissa is so smart... all those gooey brains!
Baisakhi is so smart... all those gooey brains!
Murf the Clown doesn't sound like a real instructor name!

This would probably be better written as

In [97]:
for index in range(len(instructors)):
    instructor = instructors[index]
    if instructor.endswith('Clown'):
        print(instructor + " doesn't sound like a real instructor name!")
    else:
        print(instructor + " is so smart... all those gooey brains!")

Melissa is so smart... all those gooey brains!
Baisakhi is so smart... all those gooey brains!
Murf the Clown doesn't sound like a real instructor name!

But in all, it isn't very Pythonesque to use indexes like that (unless you have another reason in the loop) and you would opt instead for the `instructor in instructors` form.  

More often, you are doing something with the numbers that requires them to be integers, e.g. math.

In [98]:
sum = 0
for i in range(10):
    sum += i
print(sum)

45

#### For loops can be nested

_Note_: for more on formatting strings, see: [https://pyformat.info](https://pyformat.info)

In [99]:
for i in range(1, 4):
    for j in range(1, 4):
        print('%d * %d = %d' % (i, j, i*j))  # Note string formatting here, %d means an integer

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

#### You can exit loops early if a condition is met:

In [100]:
for i in range(10):
    if i == 4:
        break
i

4

#### You can skip stuff in a loop with `continue`

In [101]:
sum = 0
for i in range(10):
    if (i == 5):
        continue
    else:
        sum += i
print(sum)

40

#### There is a unique language feature call ``for...else``

In [102]:
sum = 0
for i in range(10):
    sum += i
else:
    print('final i = %d, and sum = %d' % (i, sum))

final i = 9, and sum = 45

#### You can iterate over letters in a string

In [103]:
my_string = "DATA"
for c in my_string:
    print(c)

D
A
T
A

# Exercise 1

Write Python to find and print out those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [104]:
for num in range(1500, 2701):
    if num % 7 == 0 and num % 5 == 0:
        print(num)
    else:
        pass

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

# Exercise 2

Write a loop to print out the characters of the string `'reversing strings is fun'` in reverse order. Bonus: come up with at least two ways to do this.

In [106]:
str = 'reversing strings is fun'

# Way 1
for i in range(len(str) - 1, -1, -1):
    print(str[i])

# Way 2
reversed = ''
for ch in str:
    reversed = ch + reversed
print(reversed)

# Way 3
print(str[-1::-1])

n
u
f

s
i

s
g
n
i
r
t
s

g
n
i
s
r
e
v
e
r
nuf si sgnirts gnisrever
nuf si sgnirts gnisrever

# Exercise 3

 Given a string (for example, `'The Great Gatsby'`), use a loop to print out whether the string is in "title case" or not - ie is the first letter of every word capitalized?

In [107]:
str = 'The Great Gatsby'
for word in str.split():
    if word[0].islower():
        print(False)
        break
else:
    print(True)

True